<h1>Categories</h1>

<ul>
  <% @categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>
class CategoriesController < ApplicationController
    def index
      @categories = Category.all # ดึงข้อมูลหมวดหมู่ทั้งหมดจากฐานข้อมูล
    end
  end
  